@{
    ViewData["Title"] = "Insert TimeSheet Data";
}


<form>
    Enter Id: <input type="number" name="id"> <br>
    Enter Date: <input type="text" name="date" placeholder="DD/MM/YYYY"> <br>
    Enter Work Desc: <input type="text" name="work_description"> <br>
    Enter hours: <input type="number" name="hours"> <br>
    Enter status: <input type="text" name="status"> <br>
    <input type="submit" value="Insert">
</form>